{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href={{ asset('css/base.css') }}>
{% endblock %}

{% block body %}
    <main>
        <h1 class="title">Connexion</h1>
        <form method="post">
            <div>
                <label for="inputEmail">Email</label>
                <input type="email" name="email" id="inputEmail" required autofocus>
            </div>
            <div>
                <label for="inputPassword">Mot de passe</label>
                <input type="password" name="password" id="inputPassword" required>
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <button class="btn btn-lg btn-primary" type="submit">Se connecter</button>

            {% if error %}
                <p class="error">Erreur : L'email et le mot de passe ne correspondent pas</p>
            {% endif %}

        </form>
    </main>

{% endblock %}
