{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}

    {{ form_start(form) }}

    {{ form_label(form.titre) }}
    {{ form_widget(form.titre) }}

    <button type="submit">Ajouter</button>

    {{ form_end(form) }}



{% endblock %}
